name: Release Build

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build-linux:
    name: Build on Linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt update && sudo apt install -y curl build-essential

      - name: Build the library
        run: ./build.sh -release

      - name: Package artifacts
        run: |
          ls
          mkdir artifacts
          mv libneurosdk.a libneurosdk.so artifacts/
          cp include/neurosdk.h artifacts/
          cp LICENSE artifacts/
          tar -czvf libneurosdk-linux.tar.gz -C artifacts .

      - name: Upload Linux artifacts
        uses: actions/upload-artifact@v4
        with:
          name: libneurosdk-linux
          path: libneurosdk-linux.tar.gz

  build-windows:
    name: Build on Windows
    runs-on: windows-latest
    strategy:
      matrix:
        arch:
          - amd64
          - amd64_x86
          - amd64_arm64
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.arch }}

      - name: Install dependencies
        run: choco install -y curl

      - name: Build the library
        run: .\build.bat -release

      - name: Package artifacts
        run: |
          dir
          mkdir artifacts
          move libneurosdk.dll artifacts\
          move libneurosdk.lib artifacts\
          move libneurosdk_static.lib artifacts\
          copy include\neurosdk.h artifacts\
          copy LICENSE artifacts\
          tar -czvf libneurosdk-windows-${{ matrix.arch }}.tar.gz -C artifacts .

      - name: Upload Windows artifacts
        uses: actions/upload-artifact@v4
        with:
          name: libneurosdk-windows-${{ matrix.arch }}
          path: libneurosdk-windows-${{ matrix.arch }}.tar.gz

  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: [build-linux, build-windows]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download Linux artifacts
        uses: actions/download-artifact@v4
        with:
          name: libneurosdk-linux

      - name: Download Windows artifacts (amd64)
        uses: actions/download-artifact@v4
        with:
          name: libneurosdk-windows-amd64

      - name: Download Windows artifacts (amd64_x86)
        uses: actions/download-artifact@v4
        with:
          name: libneurosdk-windows-amd64_x86

      - name: Download Windows artifacts (amd64_arm64)
        uses: actions/download-artifact@v4
        with:
          name: libneurosdk-windows-amd64_arm64

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
        with:
          files: |
            libneurosdk-linux.tar.gz
            libneurosdk-windows-amd64.tar.gz
            libneurosdk-windows-amd64_x86.tar.gz
            libneurosdk-windows-amd64_arm64.tar.gz
